<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      DivisApp 22006988
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">DivisApp - Información</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>DivisApp</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Actividad 3</p>
      <p>Manuel Enrique Rodriguez-Villacorta</p>
      <p>Carne 22006988</p>
      <p>Introducción al Desarrollo de Aplicaciones Móviles</p>
    </ion-card-content>
  </ion-card>
</ion-content>